* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

  }


  header {
    height: 70px;

 
  }
.logo{ vertical-align:middle;

}
.banner{
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 72px;
    vertical-align:middle;
    
}

section{
    margin-left: 220px;
    margin-top: 46px;
}

.botton{
    padding: 15px;
    display: inline;
    border-radius: 8%;
}


  .blue{
    background-color: #14aaf5;
    color: #fff
    ;
  }
  .white {
    border: 2px solid #d3d8dc;
    background-color: #fff;
    color: #d3d8dc;
    
  }

  .doo{
    color: #2cc6ad;
    padding: 1px;
    display: inline;
    border-radius: 50%;
    border: 2px solid #2cc6ad;
    vertical-align:middle;

  }


  .todoo{
    color: #ff1010;
    padding: 1px;
    display: inline;
    border-radius: 50%;
    border: 2px solid #ff1010;
    vertical-align:middle;

  }

  .tipologia{
    padding: 2px;
    display: inline;
    border-radius: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .viola {
    background-color: #ab5de6;
    color: #fff;
}

.verde {
    background-color: #2cc6ad;
    color: #fff;
}

.arancio {
    background-color: #ff9b00;
    color: #fff;
}

.rosa {
    background-color: #ec4a9d;
    color: #fff;
}
.limone {
    background-color: #a3d113;
    color: #fff;
}
